:root{
    --HeaderColor:#94CFFF;
    --HeaderTextColor:#FFFFFF;
    --HeaderButtonBckground:#0B0E66;
    --ButtonTextColor:#26C6EA;
    --ButtonLineColor:#26C7EA;
    --MainText:#0A3853;
    --MainButtonColor:#0B0E66;
    --MainTextColor:#141414;
    --MainMentorColor:#000000;
    --HeaderBackgroundColor:#2B4A61;
  --font-family: "Inter", sans-serif;
  --second-family: "HeadlandOne", sans-serif;
  --third-family: "Hammersmith One", sans-serif;
}
.header{
    background-image: linear-gradient(to right,rgba(43, 74, 97, 0.871),rgba(43, 74, 97, 0.871)), url("../image/headerbackground-min.png");
    width: 1440px;
    border-bottom: 3px solid #fff;
}
.header-position{
    display: flex;
}
.img-logo{
    width: 186px;
    height: 72px;
    margin-left: 204;
    margin-right: 105px;
    margin-top: 39px;
}
.header-list{
    display: flex;
    justify-content: center;

}
.header-list-item + .header-list-item{
    margin-left: 50px;
}
.header-list-link{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: var(--HeaderColor);
}
.header-link{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color:var(--HeaderTextColor);
}
.button-header{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: var(--ButtonTextColor);
    background-color: var(--MainButtonColor);
    border-color: var(--ButtonLineColor);
}
.hero-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color:var(--HeaderTextColor);
}
.button{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color:var(--ButtonLineColor);
    background-color: var(--MainButtonColor);
    border-color: var(--ButtonLineColor);
}
.hero{
    background-image: url(../image/mainbackground1-min.png);
    width: 1440px;
    height: 740px;
}
.section1{
    background-color: var(--HeaderTextColor);
}
.sub-title{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    text-align: justify;
    color:var(--MainText);
    text-transform: uppercase;
    
    margin: 0 auto;
    text-align: center;
}
.mentor{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color:var(--MainMentorColor);
}
.section-trailer{
    background-image: url(../image/mainbackgroundimg2-min.png);
    width: 1440px;
    height: 741px;
}
.trailer-link{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: var(--ButtonLineColor);
    background-color: var(--MainButtonColor);
    border-color: var(--ButtonLineColor);
}
.section2{
    background-color: var(--HeaderTextColor);
}
.sub-title2{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color:var(--MainTextColor);
    text-transform: uppercase;
    width: 886;
    height: 44;
    margin: 0 auto;
    
}
.text-mentor{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color:var(--MainMentorColor);
}
.section-language{
    background-image: url(../image/languagenavibackground-min.png);
    width: 1440px;
    height: 704px;
}
.title-language{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color:var(--MainTextColor);

}
.language-list{
    display: flex;
}
.arrowleft{
    background-image: url(../image/arrowtjtheleft.png);
    width: 152px;
    height: 40px;
    text-align: center;
    margin-top: 150px;
}
.arrowright{
    background-image: url(../image/arrowtotheright.png);
    width: 152px;
    height: 40px;
    text-align: center;
     margin-top: 150px;
}
.birdandarrows{
    background-image: url(../image/birdandarrows.png);
    width: 152px;
    height: 40px;
    text-align: center;
     margin-top: 150px;
}
.textukraine{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: justify;
    color:var(--MainTextColor);
}
.textnavi{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: justify;
    color:var(--MainMentorColor);
}
.sub-title3{
    width: 938px;
    height: 92px;
    text-align: center;
}
.container{
    justify-content: center;
    padding: 15px;
    width: 1032px;
    margin: 0 auto;
}
.section3{
    background-color: var(--HeaderTextColor);
}
.footer{
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)), url(../image/headerbackground-min.png);
    width: 1440px;
    height: 223px;
}
.email-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: var(--HeaderTextColor);
}
.email-link{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color:var(--HeaderTextColor);
}
.img-logo-footer{
    width: 183px;
    height: 70px;
}
.small{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color:var(--HeaderTextColor);
}