:root{
    --HeaderColor:#94CFFF;
    --HeaderTextColor:#FFFFFF;
    --HeaderButtonBckground:#0B0E66;
    --ButtonTextColor:#26C6EA;
    --ButtonLineColor:#26C7EA;
    --MainText:#0A3853;
    --MainButtonColor:#0B0E66;
    --MainTextColor:#141414;
    --MainMentorColor:#000000;
    --HeaderBackgroundColor:#2B4A61;
  --font-family: "Inter", sans-serif;
  --second-family: "HeadlandOne", sans-serif;
  --third-family: "Hammersmith One", sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    width: 1062px;
    margin: 0 auto;
}
.header{
    background-image: linear-gradient(to right,rgba(43, 74, 97, 0.871),rgba(43, 74, 97, 0.871)), url("../image/headerbackground-min.png");
    width: 1440px;
    border-bottom: 3px solid #fff;
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    align-items: center;
    padding-left: 204px;
    padding-right: 48px;
    margin: 0 auto;
}
.header-position{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-list{
    display: flex;
    justify-content: center;
}
.header-list-item + .header-list-item{
    margin-left: 50px;
}
/* .header-list-link{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: var(--HeaderColor);
} */
.header-link{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color:var(--HeaderTextColor);
}
.header-link:hover{
    font-weight: 600;
    color: var(--HeaderColor);
}
.button-header{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: var(--ButtonTextColor);
    background-color: var(--MainButtonColor);
    border: 3px solid var(--ButtonLineColor);
    border-top-left-radius: 35px;
    border-bottom-right-radius:35px ;
    padding: 9px 38px 8px 38px;
    margin-right: 49px;
}
.text-switcher{
    font-family: var(--third-family);
font-weight: 400;
font-size: 16px;
text-align: center;
color:var(--HeaderTextColor);
text-transform: uppercase;
}
.switcher-container{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.hero-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color:var(--HeaderTextColor);
}
.arrow::after{
    content: "";
    margin-left:50px;
    display: block;
    height:40px;
    width:152px;
    background-image:url(../image/arrow-section1.png);
}
.article{
    width:376px;
}
.button{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color:var(--ButtonLineColor);
    background-color: var(--MainButtonColor);
    border: 3px solid var(--ButtonLineColor);
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:31px;
    width:260px;
    height:80px;
    border-top-left-radius:45px;
    border-bottom-right-radius:45px;
    margin-top:42px;
}
.hero{
    background-image: url(../image/mainbackground1-min.png);
    width: 1440px;
    height: 740px;
    padding-top: 180px;
    padding-bottom: 179px;
    margin: 0 auto;
}
.line{
    display: flex;
    justify-content: space-between;
}
.social-item:nth-child(2){
    margin-top: 24px;
    margin-bottom: 27px;
}
.social-list{
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: center;
}
.section1{
    background-color: var(--HeaderTextColor);
}
.sub-title{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    color:var(--MainText);
    text-transform: uppercase;
    width: 1102px;
    margin: 0 auto;
    text-align: center;
}
.mentor{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color:var(--MainMentorColor);
    margin-top: 16px;
}
.mentor::after{
    content: "";
    display: block;
    width: 400px;
    height: 120px;
    background-image: url(../image/birdandarrows.png);
    margin: 0 auto;
}
.section-trailer{
    background-image: url(../image/mainbackgroundimg2-min.png);
    width: 1440px;
    height: 741px;
    padding-top:330px;
    padding-bottom:331px;
    margin: 0 auto;
}
.trailer-link{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: var(--ButtonLineColor);
    background-color: var(--MainButtonColor);
    border: 3px solid var(--ButtonLineColor);
    padding-top:25px;
    padding-bottom:25px;
    padding-left:19px;
    padding-right:20px;
    border-top-left-radius:45px;
    border-bottom-right-radius:45px;
    margin:0 auto;
    display: block;
    width:260px;
    height:80px;
}
.section2{
    background-color: var(--HeaderTextColor);
}
.sub-title2{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color:var(--MainTextColor);
    text-transform: uppercase;
    width: 886;
    height: 44;
    margin: 0 auto;
}
.text-mentor{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color:var(--MainMentorColor);
    margin-top:16px;
}
.text-mentor::after{
    content: "";
    display: flex;
    width: 400px;
    height: 120px;
    background-image: url(../image/birdandarrows.png);
    margin: 0 auto;
}
.section-language{
    background-image: url(../image/languagenavibackground-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    padding-top:58px;
    padding-bottom:57px;
    background-position: left;
    margin: 0 auto;
}
.title-language{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color:var(--MainTextColor);
    margin-bottom: 45px;
}
.language-list{
    display: flex;
    flex-wrap: wrap;
    column-gap:24px;
    row-gap:36px;
}
.language-item{
    background: rgba(255, 255, 255, 0.7);
    flex-basis: calc((100% - 48px) / 3);
    padding: 36px 28px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
}
.language-item:nth-child(1),
.language-item:nth-child(4){
     background-image: url(../image/arrowtjtheleft.png);
     background-size: 152px 40px;
}
.language-item:nth-child(2),
.language-item:nth-child(5){
    background-image: url(../image/birdandarrows.png);
    background-size: 152px 40px;
    
}
.language-item:nth-child(3),
.language-item:nth-child(6){
    background-image: url(../image/arrowtotheright.png);
    background-size: 152px 40px;
}
.language-item-text{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color:var(--MainTextColor);
}
.sub-title3{
    width: 938px;
    height: 92px;
    text-align: center;
}
.section-quote{
    padding-top:75px;
    padding-bottom:10px;
}
.section3{
    background-color: var(--HeaderTextColor);
}
.footer{
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)), url(../image/headerbackground-min.png);
    width: 1440px;
    margin: 0 auto;
    padding: 35px 0 25px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.address{
    display: flex;
    flex-direction: column;
    row-gap:37px;
    align-items: center;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.email-item{
    display: flex;
    align-items: center;
    column-gap:20px;
}
.email-item:first-child{
    margin-bottom:16px;
}
.text-line{
    display:flex;
    align-items:center;
    column-gap:20px;
}
.text-line::after{
    content: "";
    display: block;
    width:269px;
    height:3px;
    background-image:url(../image/linetop.png);
}
.text-line2{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.text-line2::after{
    content: "";
    display: block;
    width: 194px;
    height: 3px;
    background-image: url(../image/linebottom.png);
}
.email-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: var(--HeaderTextColor);
    font-style: normal;
}
.email-link{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color:var(--HeaderTextColor);
    font-style: normal;
}
.img-logo-footer{
    width: 183px;
    height: 70px;
}
.line-footer{
    display: flex;
    column-gap:80px;
    align-items: center;
}
.line-footer::after{
    content: "";
    display: block;
    width: 2px;
    height: 153px;
    background-color: var(--HeaderTextColor);
}
.small{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color:var(--HeaderTextColor);
}